.wrapper {
    background: #306799;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: 0;
    padding: 130px 20px 0px 20px;
    box-sizing: border-box;
}