.card {
    background: rgba(255, 255, 255, 0.5);
    height: 150px;
    margin: 10px 20px;
    position: relative;
    width: 200px;
    border: 15px solid rgba(255, 255, 255, 0.5);
    text-align: left;
}

.card>.img-container {
    height: 100%;
    overflow: hidden;
    text-align: center
}

.card>.img-container>img {
    width: 100%;
    text-align: center;
    height: 100%
}