@import url('https://fonts.googleapis.com/css?family=Heebo:100|Martel:700');
.Fragment {
    background-color: #306799;
}

.navbar li {
    display: inline-block;
    font-family: "Heebo", sans-serif;
    padding: 26px 0;
    width: 33.3%;
    text-align: center
}

.header h1 {
    font-family: "Martel", serif;
    margin-bottom: 10px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h4 {
    font-family: "Heebo", sans-serif;
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Header-image {
    opacity: 0.5;
    width: 100%;
    z-index: -1;
    margin-top: -50px
}